services:
  db:
    image: postgres:15-alpine
    container_name: cdm-postgres-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - cdm_postgres_data:/var/lib/postgresql/data

volumes:
  cdm_postgres_data:
